body {
  margin: 0px;
}

.App {
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  height: 5vh; min-height: 35px;
  /* font-size: calc(10px + 2vmin); */
  font-size: 2em;
  color: white;
}
.App-footer{
  text-align: right;
  background-color: #282c34;
  height: 3vh;
  min-height: 22px;
  font-size: calc(10px + 1vmin); /* TODO: Redo this calculation */
  color: white;

}
.App-link{
  color: white;
}

.game-container {
  height: 92vh;
  max-height: calc(100vh - 57px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #999999;
}
.game-pane-left {
  flex: 1 1 auto;
  float: left;
  width: 20%;
}
.game-pane-center {
  flex: 4 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.game-pane-right {
  flex: 2 2 auto;
  width: 20%;
}


.menu-status {
  padding-top: .1px;
  padding-bottom: .1px;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 100%;
  background-color: gray;
  text-align: left;
}
.menu-status h2 {
  font-size: calc(15px + 1vmin);
  margin: 0px;
}
.menu-status h4 {
  font-size: calc(8px + 1vmin);
  margin: 0px;
}

.menu-eventlog {
  flex: 0 1 230px;
  background-color: #000000;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  text-align: left;
  font-family: "Consolas", monospace;
}


/***************** Styles for equipped view *****************/
.equipment-display {
  text-align: center;
  width: 100%;
}
.equipment-display-table {
  width: 100%;
}
.equipment-display-table > tbody > tr {
  border: 1px solid black;
}
/* Reference: https://stackoverflow.com/questions/22835430/make-table-cells-square */
.equipment-display-table > tbody > tr > td  {
  /* font-size: 200%; */
  border: 1px solid black;
  width: 33.33%;
  position: relative;
}
.equipment-display-table > tbody > tr > td:after  {
  content: '';
  display: block;
  margin-top: 100%;
}
.equipment-display-table > tbody > tr > td > *,
.equipment-display-table > tbody > tr > td > * > *  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/********** Styles for Empty Item Slots **********/
.empty-item {
  /* #727272 */
  height: calc(100% - 10px);
  width:  calc(100% - 10px);
  opacity: 0.25;
  border: 5px solid transparent;
}

/********** Styles for Items **********/
.item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width:  100%;
  cursor: pointer;
}
.item-small {
  height: calc(70% - 10px);
  width:  calc(70% - 10px);
  position: relative;
  left: 15% !important;
  top: 15% !important;
}
.item-common { border: 5px solid DarkGray ; }
.item-uncommon { border: 5px solid LimeGreen; }
.item-rare { border: 5px solid DodgerBlue; }
.item-epic { border: 5px solid DarkOrchid; }
.item-legendary { border: 5px solid gold; }
.item-mythical { border: 5px solid red; }
.item-arcane {
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

/********** Collapsible / stats panel **********/
.panel {
  background-color: #282c34;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: calc(10px + 1vmin);
}
.panel-active {
  background-color: #ffffff;
  color: #282c34;
  /* border: 1px blue solid; */
}
.panel-content-closed {
  display: none;
}
.panel-content-open {
  background-color: #555555;
  overflow: hidden;
  height: auto;
}
.title, .subtitle {
  /* font-style: oblique; */
  margin-bottom: 0px;
}

/***************** Stats panel - Mana Bar *****************/
.mana-bar-outer {
  position: relative;
  background-color: white;
  height: 24px;
}
.mana-bar-inner {
  background-color: blue;
  height: 100%;
  float: left;
  text-align: left;
  transition: width 0.3s ease;
}
.mana-bar-reserved {
  background-color: darkgrey;
  height: 100%;
  float: right;
  text-align: right;
  transition: width 0.3s ease;
}
.mana-bar-text {
  color: black;
  position: absolute;
  left: 0px;
  text-align: left;
}
