/***************** Styles for stages/views *****************/
.menu-gameview {
  flex: 1 1 auto;
  width: 60vw;  /* Fixed width so view doesn't resize on state change*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #777777;
  overflow-y: auto;
}
.menu-actionbar { /* Shared between Dungeon & Battle views */
  position: absolute;
  bottom: 0px;
  width: calc(100% - 23px);
  padding: 10px;
  background-color: #515151;
  text-align: center;
}
.menu-actionbar > button {
  margin: 0 5px 0 5px;
  /* width: 100%; */
}


/* Styles for icon buttons e.g. "CLOSE" x */
.icon-button {
  background-image: url("../svg/utility-close.svg");
  background-color: red;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;  right: 0;
  border: 2px solid black;
  cursor: pointer;
}
.icon-button > svg {
  position: absolute;
  top: 1px; left: 1px;
  height: 30px;
  width: 30px;
}


/********** Styles for Intro screen **********/
.view-intro{

}



/********** Styles for Dungeon screen **********/
.view-dungeon{
  position: relative;
  text-align: center;
  font-family: "Consolas", monospace;
  height: 100%;
}

.view-dungeon::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0px; left: 0px;
  background-image: url('./img/corridor-960_720.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(100%);
  opacity: 0.2;
  height: 100%; width: 100%;
}

.view-dungeon-text{
  font-family: "Consolas", monospace !important;
  margin: 20px;
}

/**********************************************/
/********** Beginning of Menu styles **********/
/**********************************************/

/********** Styles for Overlay **********/
.overlay {
  position: absolute;
  top: 0px;  right: 0px;
  width: 4vw%; height: 4vh%;
}


/********** Styles for Inventory screen **********/
.inventory {
  position: relative;
  text-align: center;
}
.inventory-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.inventory-container > div {
  width: 7vw; min-width: 80px;
  height: 7vw; min-height: 80px;
  line-height: 7vw;
  background-color: #f1f1f1;
  margin: 7px;
  text-align: center;
}

/********** Styles for Spellbook screen **********/
.spellbook { position: relative; }
.spellbook-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  margin: 20px;
}
.spellbook-container > tr > td {
  padding: 10px;
  background-color: #ffbfbf;
  border: 1px solid black;
  text-align: left;
}
.spelltitle {
  font-weight: bold;
}
.spelltext {
  font-style: italic;
}

/********** Styles for Cookbook screen **********/
.cookbook { position: relative; }
.cookbook-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cookbook-container > tr {
  padding: 5px;
  margin: 5px;
  background-color: #ADD8E6;
}
.cookbook-container > tr > td {
  font-family: "Consolas", monospace;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/********** Styles for Character screen **********/
.inline {
  display: inline-block;
}
.character { position: relative; }
.character-header {
  margin: 0px 10px;
  display: inline-block;
}
.character-skillbutton {
  width: 12%;
  float: right;
}
.attribute-label {
  background-color: #3642f4;
  text-align: center;
  font-size: 1.5em;
  margin: 3px;
  width: 30%;
}
.attribute-health {
  background-color: #ff0000;
  text-align: center;
  font-size: 1.25em;
  width: 40%;
}
.attribute-mana {
  background-color: #0000ff;
  text-align: center;
  font-size: 1.25em;
  width: 40%;
}
.skill-label {
  background-color: #f44336;
  text-align: center;
  width: 20%;
}
.skill-bar {
  padding: 3px;
  margin: 3px;
  height: 100%;
  width: 65%;
}
.skill-bar > div {
  display: inline-block;
  vertical-align: top;
  height: 1.5em;
}
.skill-outer {

}
.skill-button {
  background-color: #04AA6D;
  text-align: center;
  font-size: 1.3em;
  height: 100%;
  width: 3em;
}
