/***************** Styles for stages/views *****************/
.menu-gameview {
  flex: 1 1 auto;
  width: 60vw;  /* Fixed width so view doesn't resize on state change*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #777777;
  overflow-y: auto;
}
.menu-actionbar { /* Shared between Dungeon & Battle views */
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #515151;
  text-align: center;
}
.menu-actionbar > button {
  height: calc(10px + 4vh);
  /* width: 100%; */
}


/* Styles for icon buttons e.g. "CLOSE" x */
.icon-button {
  height:35px;
  width: 35px;
  position: absolute;
  top: 0;  right: 0;
  border: 2px solid black;
  cursor: pointer;
}
.icon-button > svg {
  height: 100%;
  width: 100%;
}

.menu-test-please-remove-me-now {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: red;
  text-align: center;
}

/********** Styles for Intro screen **********/
.view-intro{

}



/********** Styles for Dungeon screen **********/
.view-dungeon{
  position: relative;
  font-family: "Consolas", monospace;
  height: 100%;
}

.view-dungeon::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0px; left: 0px;
  background-image: url('./img/corridor-960_720.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(100%);
  opacity: 0.2;
  height: 100%; width: 100%;
}

.view-dungeon-text{
  font-family: "Consolas", monospace !important;
  margin: 20px;
}

/********** Styles for Battle screen **********/
.view-battle {
  position: relative;
}
.view-battle-text {
  /* font-family: "Luminari", fantasy, serif; */
  position: relative;
  top: calc(20px);
  font-family: "Consolas", monospace;
}
.view-battle-health {
  background-color: #999;
  margin: 50px;
  border: 1px solid black;
}


/**********************************************/
/********** Beginning of Menu styles **********/
/**********************************************/

/********** Styles for Overlay **********/
.overlay {
  position: absolute;
  top: 0px;  right: 0px;
  width: 4vw%; height: 4vh%;
}


/********** Styles for Inventory screen **********/
.inventory { position: relative; }
.inventory-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.inventory-container > div {
  width: 7vw; min-width: 80px;
  height: 7vw; min-height: 80px;
  line-height: 7vw;
  background-color: #f1f1f1;
  margin: 7px;
  text-align: center;
}

/********** Styles for Spellbook screen **********/
.spellbook { position: relative; }
.spellbook-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  margin: 20px;
}
.spellbook-container > tr > td {
  padding: 10px;
  background-color: #ffbfbf;
  border: 1px solid black;
  text-align: left;
}
.spelltitle {
  font-weight: bold;
}
.spelltext {
  font-style: italic;
}

/********** Styles for Cookbook screen **********/
.cookbook { position: relative; }
.cookbook-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cookbook-container > tr {
  padding: 5px;
  margin: 5px;
  background-color: #ADD8E6;
}
.cookbook-container > tr > td {
  font-family: "Consolas", monospace;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/********** Styles for Character screen **********/
.character { position: relative; }
.character-skills {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.progressbar-outer {
  border: 1px solid black;
  position: relative;
  height: 8vh;
}
.progressbar-inner {
  background-color: #90ee90;
  height: 100%;
}
.progressbar-text {
  position: absolute;
  top: calc(50% - .8em);
  left: 15px;
}
